# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/
x64/
mandelbrot.vcxproj.user
mandelbrot_vs2022.vcxproj.user
images/tmp/
MandelbrotDiscovery/MandelbrotDiscovery.vcxproj.user
MandelbrotDiscovery/mandelbrot_zooming.jpg
jpeg/jpeg_vs2022.vcxproj.user
png/libpng/projects/vstudio/libpng/libpng_vs2022.vcxproj.user
png/libpng/projects/vstudio/pnglibconf/pnglibconf_vs2022.vcxproj.user
png/libpng/projects/vstudio/zlib/zlib_vs2022.vcxproj.user
